<div class="container">
  <div class="col-md-6 col-md-offset-3 main-div">
    <hr/>
    <h3><%= @post.title %>, <%= @post.author %></h3>
    <h4>
      <% unless @post.url == "" %>
        <a href="<%= @post.url %>"><%= @post.url.truncate(50) %></a>
      <% end %>
    </h4>
    <p class="timestamp">
      Posted by: <%= User.find_by(id: @post.id).username %><br>
      Posted on: <%= @post.created_at %>
    </p>
    <hr/>
  </div>
</div>